.favouritNot{
    margin-top: 92px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20%;
    text-align: center;
}
.flex{
    margin-top: 92px;
    background-color: black;
    
}