/* Navbar styles */
.nav1 {
  background-color: black;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 2%;
  align-items: center;
}

.nav {
  background-color: black;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 2%;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}

.nav-item:hover {
  color: gray;
}

.searchbox {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.searchbox input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.searchbox button {
  background-color: rgb(25, 166, 253);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.searchbox button:hover {
  background-color: #0874ae;
}

.navbar-links {
  margin-left: auto;
}

.navbar-link {
  text-decoration: none;
  color: white !important; /* Ensure the color property is applied without being overridden */
}

.navbar-link:hover {
  color: gray !important;
}


/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
